<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<%- include('./modules/_header'); %>
<main id="wrapper">
    <div id="section1" style="height:200vh;background:#eee;">
        <%- include('./modules/_anchors'); %>
    </div>
    <div id="section2" style="height:200vh;background:#ccc;">
        <%- include('./modules/_anchors'); %>
    </div>
    <div id="section3" style="height:200vh;background:#aaa;">
        <%- include('./modules/_anchors'); %>
    </div>
    <div id="section4" style="height:200vh;background:#888;">
        <%- include('./modules/_anchors'); %>
    </div>
</main>
</body>
</html>
